*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

/* header section style */
.navbar{
    background-color: #f8f9fa;

}
.navbar-contain{
    width: 70%;
    padding: 10px 0px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: 20px;
}
.nav-item li a{
    text-decoration: none;
    color: rgba(0,0,0,.55);
}
.menu-icon{
    display: none;
}