*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}

/* header section style */
.navbar{
    background-color: #f8f9fa;

}
.navbar-contain{
    width: 70%;
    padding: 10px 0px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: 20px;
}
.nav-item li a{
    text-decoration: none;
    color: rgba(0,0,0,.55);
}
.menu-icon{
    display: none;
}

/* Banner section style */
.banner-section-contain{
    background-color: #FFECF0;
    display: flex;
    width: 70%;
    margin: 0px auto;
    padding: 50px 0px;
    align-items: center;
}
.banner-sec-left-contain{
    padding: 0px 50px;
}
.banner-sec-left-contain h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner-sec-left-contain h2{
    font-size: 40px;
    color: #ffc107;
    margin-top: 10px;
}
.banner-sec-left-contain button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    font-size: 20px;
    padding: 10px 15px;
    color: #f8f9fa;
    border: solid;
    border-radius: 8px;
}
.banner-sec-right-contain{
    display: flex;
    justify-content: center;
}
.banner-sec-right-contain img{
    width: 80%;
}

/* Category section style */
.category-section{
    width: 70%;
    margin: 50px auto;
}
.category-items{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white
}
.category-item h1{
    font-size: 30px;
}
.category-item img{
    width: 80px;
    width: 80px;
}
.cicy{
    background-color:#FFC107 ;
}
.cicg{
    background-color: #198754;
}
.cicb{
    background-color: #0DCAF0;
}

/* Shoes And Backpack item section style here */
.shop-item-section{
    width: 70%;
    margin: 50px auto;
}
.shop-item-header{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.shop-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.shop-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.shop-item img{
    width: 100%;
    margin: 0 0 20px 0;
}
.item-descrption{
    margin-top: 15px;
    height: 150px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    font-size: 20px;
    padding: 10px 15px;
    color: #f8f9fa;
    border: solid;
    border-radius: 8px;
}